@model IEnumerable<ComunicacaoGRPC.Grpc.AlunoResponse>

<h2>Alunos</h2>

<form method="post" action="/Alunos/Inserir" >
    <input type="text" name="nome" placeholder="Nome" required />
    <input type="text" name="matricula" placeholder="Matrícula" required />
    <button type="submit">Adicionar</button>
</form>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Matrícula</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var aluno in Model)
        {
            <tr>
                <td>@aluno.Id</td>
                <td>@aluno.Nome</td>
                <td>@aluno.Matricula</td>
            </tr>
        }
    </tbody>
</table>
